<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated manufacturingSystem -->
      <package
            uri="com.chalmers.manufacturingSystem"
            class="manufacturingSystem.ManufacturingSystemPackage"
            genModel="model/manufacturingSystem.genmodel"/>
   </extension>

</plugin>
